/* Set default background color */
body {
  background-color: #B8FFF9;
  text-align: center;
  line-height: 50px;
  /* Above (text-align) is an Important step to center everything */
}

/* font style and style */
.text, .p1, .descriptions,.skill-description,label,input,a{
  font-family: 'Readex Pro', sans-serif;
  font-weight: 400;
  color: #000000
}
/* Brand title (Alfey and Hello!) */

.brand-name{
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  color: #000000
}

/* All the title */
.title {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #000000
}

.skill-title {
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  color: #000000
}

.test-text {
  margin: 0 15% 2.5%;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 400;
  color: #000000
}

/* center the table */
table {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
}

/* Row settings */
.row{
  margin-top: 5%;
}

/* Navbar and title */
/* Modify the navbar colour */
/* Modify brand and text color */
.navbar-custom {
  background-color: #42C2FF;
  color: #EFFFFD;
  margin-top: 10px;
}

.menu-options {
  color: #000000;
  padding: 5%;
  margin: 0 20px 0;
}


/* Menu Hover states */
.menu-options:hover,.footer-link:hover, .brand-name:hover{
  color: #85F4FF;
}
.dropdown-item:hover{
  color: #42C2FF;
}

.navbar-brand:hover {
  color: #85F4FF;
}

/* To format the navbar title "Alfey" */
.container-fluid {
  padding: 0 5% 0;
}

/* Bottom section */
.footer-link {
  margin: 0px 20px;
  color: black;
}

.trademark {
  color: black;
  margin-top: 2.5%
}

.bottom-part-spacing {
  padding-top: 2.5%;
}

/* Color scheme */
#second-section, #fourth-section, #sixth-section, #eight-section{
  background-color: #B8FFF9;
}

#third-section, #fifth-section, #seventh-section {
  background-color: #85F4FF;
}

#bottom-part {
  background-color: #42C2FF;
}

/* About me SECTION */
/* Container format */
.about-me-container {
  margin: 0% 15% 0%;
}

/* Inserting and formating picture in container*/
.profile-pic {
  border-radius: 60%;
  width: 18%;
  margin: 35px auto 20px auto;
}

.profile-info {
  margin-top: 2%
}

/* Aligning the text in container */
.p1 {
  margin: 2.5% 10% 5%;
}

/* Hobbies SECTION */
/* Container format */
.hobbies-container {
  margin: 5% auto 5%;
  padding: 2.5%;
}

/* Formating text in the section */
/* Skills SECTION */
/* container sizing and positioning */
.skills-container {
  margin: 5% 15% 5%;
  text-align: center;
}

.skill-row, .survey-results-row{
  width: 80%;
  margin: 0% 5% 0% 5%;
  text-align: center;
  line-height: 2;
  padding: 4% 6% 4% 6%;
  display: inline-block;
}

.skills-title {
  padding: 0 0 0;
}


/* Images resize and positioning */
.photography, .skill-set-qn {
  width: 10rem;
  float: left;
  margin-right: 5%;
}

.web-design, .brief-description-qn {
  width: 10rem;
  float: right;
  margin-left: 5%;
}

.modelling, .past-project-qn, .socials-qn{
  width: 10rem;
  float: left;
  margin-right: 5%;
}

.tutoring, .testimonials-qn {
  width: 10rem;
  float: right;
  margin-left: 5%;
}

/* testimonials Section */
/* Picture format */
.picture {
  width: 10%;
  border-radius: 40%;
  margin-bottom: 2.5%;
}

.picture-spacing {
  text-align: center;
  padding: 5% 0 5%;
}

.test-text{
  line-height: 50px;
  padding-top: 2.5%;
  display: flex;
  line-height: 50px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;



}

/* Contact-me Section */
.social-title {
  margin-top: 5%;
}

.social-text {
  margin: 2rem 0 2rem;
}

.social-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ebf5f5;
  font-size: 16px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  /* Above (display: inline-block) is an Important step */
  margin: 2rem 0 2rem;
}

/* Design thinking page */
/* Picture formats */
/* First pic */
.pic-format1{
  width:80%;
  margin-top: 2.5%;
}
/* Second pic */
.pic-format2{
  width:80%;
  margin-bottom: 2.5%;
}

.pic-format3{
  width: 100%
}

.pic-format4{
  width: 60%;
}

.pic-format5{
  width: 115%;
  margin: auto;
  padding: 5%;
}

.pic-results{
  margin: auto;
}


.container-format{
  margin: 5% 15% 5%;
  line-height: 60px;
}

/* Design process */
.design-process-container {
}
/* Empathise stage */
.empathise-stage-container {
  padding: 5% 0 5%;
}

.ideate-stage-container{
  padding: 5% 0 5%;
}

/* Define stage */
.empathy-map{
  margin: auto;
  width: 60;
  padding: 5% 5% 5% 5%;
}

/* Test stage */
.slide-container{
  display: block;
}

.UT-title{
  margin-top: 10%;
}

.test-stage-container{
  padding-bottom: 2.5%;
}

/* Implement stage */
.changes1{
  width: 300px;
  height: 100px;
  margin: 5% 0 5% 0;
}

.fa-arrow-right{
  padding: 0 10% 0 10%;
}

.changes1-container{
  margin: auto;
}

.image-before, .image-after{
  margin: auto;
  width: 40%;
}

{
  margin: auto;
  width: 40%;
}


/* Contact me page */
.blank{
  display: inline-table;
}

.form-check, .form-check-input{
  float: none;
  margin-left: 0;
}

/* Portfolio carousel format */

.carousel-pics1 {
  width: 30%;
  margin-bottom: 2.5%;
}

.carousel-pics1a {
  width: 50%;
  margin-bottom: 2.5%;
}

.carousel-pics2 {
  width: 70%;
  margin-bottom: 2.5%;
}

.carousel-pics3 {
  width: 60%;
  margin-bottom: 2.5%;
}

.carousel-inner{
  padding: 2.5%;
}

.racial-harmony{
  padding-top: 10%;
  line-height: 50px;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  color: #000000
}

/* Portfolio page title format */
.portfolio-heading{
  padding: 5% 0 5% 0 ;
}

/* Contact me page */
.form-container{
  text-align: center;
}
